{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block css %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block extra_css %}{% endblock %}
    {% endblock %}

</head>
<body>        
    <header>
        <div class="hospital-image">
            <img src="../static/images/base/Hospital.jpg" alt="hospital-image">
        </div>
    </header>

    <nav>
        <div class="navbar">
            <a href="">
                <img src="" alt="logo">
            </a>
            <a href="">Home</a>
            <a href="">Speciality</a>
            <a href="">Doctors</a>
            <a href="">Contact</a>
            <a class="rcb" href="">Request Call Back</a>
            <a class="login" href="">Login</a>
        </div>
    </nav>

    {% block content %}{% endblock %}
    
    <footer>
        <p>This is footer</p>
    </footer>
</body>
</html>