<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block css %}{% endblock %}
    
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="">
                <img src="" alt="logo">
            </a>
            <a href="">Home</a>
            <a href="">Speciality</a>
            <a href="">Doctors</a>
            <a href="">Contact</a>
            <a class="rcb" href="">Request Call Back</a>
            <a class="login" href="">Login</a>
        </div>
    </nav>

    {% block content %}{% endblock %}
    
    <footer></footer>
</body>
</html>