*{
    margin: 0;
}


.hospital-image{
    background-color: blue;
    margin: auto;
}


.hospital-image img{
    width: 60%;
}


nav{
    background-color: brown;
    padding: 20px;
}


.navbar{
    background-color: pink;
    display: flex;
}


.flex{
    
}


nav a img{
    width: 5%;
    border-radius: 100%;
}